{% extends 'base.html.twig' %}

{% block body %}
<div>
    <table>
        <tr>
    {%  for i in 0..(colnb-1) %}
        <th>{{ collab[i] }}</th>

    {% endfor %}
        </tr>
    </table>
</div>
{% endblock %}