{% extends 'base.html.twig' %}

{% block body %}
    <div>
        <table>
            <tr>
                {#
                {%  for col in collab %}
                    <th>{{ col }}</th>
                {% endfor %}
                #}
            </tr>
            {% for entry in entries %}
            <tr>
                {%  for col in collab %}
                    <td>
                        {{ entry[col] }}
                    </td>
                {% endfor %}
            <tr>
                {% endfor %}
        </table>
    </div>
{% endblock %}